In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("D:/Research/data/solarenergy.csv")

C:\Users\ducth\AppData\Local\Temp\ipykernel_10544\1229851402.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:/Research/data/solarenergy.csv")

In [27]:
df = df.loc[:2919]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Datetime                     2920 non-null   object
 1   solar_mw                     2920 non-null   int64
 2   wind-direction               2207 non-null   object
 3   wind-speed                   2920 non-null   float64
 4   humidity                     2920 non-null   float64
 5   average-wind-speed-(period)  2919 non-null   float64
 6   average-pressure-(period)    2920 non-null   float64
 7   temperature                  2920 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 182.6+ KB

In [28]:
df

,Datetime,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
0,03/08/2020 0:00,11385,27,7.5,75.0,8.0,29.82,69.0
1,02/08/2020 23:00,12390,27,7.5,77.0,5.0,29.85,69.0
2,02/08/2020 22:00,13312,27,7.5,70.0,0.0,29.89,69.0
3,02/08/2020 21:00,13832,27,7.5,33.0,0.0,29.91,69.0
4,02/08/2020 20:00,14038,27,7.5,21.0,3.0,29.89,69.0
...,...,...,...,...,...,...,...,...
2915,03/04/2020 13:00,10396,NaN,13.9,75.0,10.0,29.93,63.0
2916,03/04/2020 12:00,10763,NaN,13.9,66.0,15.0,29.91,63.0
2917,03/04/2020 11:00,11048,NaN,13.9,68.0,21.0,29.88,63.0
2918,03/04/2020 10:00,11254,NaN,13.9,81.0,17.0,29.87,63.0
2919,03/04/2020 9:00,11363,NaN,13.9,81.0,11.0,29.90,63.0

In [29]:
df["Datetime"] = pd.to_datetime(df["Datetime"], format= "%d/%m/%Y %H:%M")

In [30]:
df

,Datetime,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
0,2020-08-03 00:00:00,11385,27,7.5,75.0,8.0,29.82,69.0
1,2020-08-02 23:00:00,12390,27,7.5,77.0,5.0,29.85,69.0
2,2020-08-02 22:00:00,13312,27,7.5,70.0,0.0,29.89,69.0
3,2020-08-02 21:00:00,13832,27,7.5,33.0,0.0,29.91,69.0
4,2020-08-02 20:00:00,14038,27,7.5,21.0,3.0,29.89,69.0
...,...,...,...,...,...,...,...,...
2915,2020-04-03 13:00:00,10396,NaN,13.9,75.0,10.0,29.93,63.0
2916,2020-04-03 12:00:00,10763,NaN,13.9,66.0,15.0,29.91,63.0
2917,2020-04-03 11:00:00,11048,NaN,13.9,68.0,21.0,29.88,63.0
2918,2020-04-03 10:00:00,11254,NaN,13.9,81.0,17.0,29.87,63.0
2919,2020-04-03 09:00:00,11363,NaN,13.9,81.0,11.0,29.90,63.0

In [31]:
df = df.iloc[::-1]

In [32]:
df

,Datetime,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
2919,2020-04-03 09:00:00,11363,NaN,13.9,81.0,11.0,29.90,63.0
2918,2020-04-03 10:00:00,11254,NaN,13.9,81.0,17.0,29.87,63.0
2917,2020-04-03 11:00:00,11048,NaN,13.9,68.0,21.0,29.88,63.0
2916,2020-04-03 12:00:00,10763,NaN,13.9,66.0,15.0,29.91,63.0
2915,2020-04-03 13:00:00,10396,NaN,13.9,75.0,10.0,29.93,63.0
...,...,...,...,...,...,...,...,...
4,2020-08-02 20:00:00,14038,27,7.5,21.0,3.0,29.89,69.0
3,2020-08-02 21:00:00,13832,27,7.5,33.0,0.0,29.91,69.0
2,2020-08-02 22:00:00,13312,27,7.5,70.0,0.0,29.89,69.0
1,2020-08-02 23:00:00,12390,27,7.5,77.0,5.0,29.85,69.0
0,2020-08-03 00:00:00,11385,27,7.5,75.0,8.0,29.82,69.0

In [33]:
df.iloc[2415]

Datetime                       2020-07-13 00:00:00
solar_mw                                     11673
wind-direction                                  28
wind-speed                                    10.6
humidity                                      86.0
average-wind-speed-(period)                    0.0
average-pressure-(period)                    30.06
temperature                                   58.0
Name: 504, dtype: object

In [34]:
df.iloc[2414]

Datetime                       2020-07-12 23:00:00
solar_mw                                     12907
wind-direction                                  32
wind-speed                                    10.6
humidity                                      90.0
average-wind-speed-(period)                    3.0
average-pressure-(period)                    30.02
temperature                                   58.0
Name: 505, dtype: object

In [35]:
df

,Datetime,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
2919,2020-04-03 09:00:00,11363,NaN,13.9,81.0,11.0,29.90,63.0
2918,2020-04-03 10:00:00,11254,NaN,13.9,81.0,17.0,29.87,63.0
2917,2020-04-03 11:00:00,11048,NaN,13.9,68.0,21.0,29.88,63.0
2916,2020-04-03 12:00:00,10763,NaN,13.9,66.0,15.0,29.91,63.0
2915,2020-04-03 13:00:00,10396,NaN,13.9,75.0,10.0,29.93,63.0
...,...,...,...,...,...,...,...,...
4,2020-08-02 20:00:00,14038,27,7.5,21.0,3.0,29.89,69.0
3,2020-08-02 21:00:00,13832,27,7.5,33.0,0.0,29.91,69.0
2,2020-08-02 22:00:00,13312,27,7.5,70.0,0.0,29.89,69.0
1,2020-08-02 23:00:00,12390,27,7.5,77.0,5.0,29.85,69.0
0,2020-08-03 00:00:00,11385,27,7.5,75.0,8.0,29.82,69.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 2919 to 0
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Datetime                     2920 non-null   datetime64[ns]
 1   solar_mw                     2920 non-null   int64
 2   wind-direction               2207 non-null   object
 3   wind-speed                   2920 non-null   float64
 4   humidity                     2920 non-null   float64
 5   average-wind-speed-(period)  2919 non-null   float64
 6   average-pressure-(period)    2920 non-null   float64
 7   temperature                  2920 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 182.6+ KB

In [37]:
df["solar_mw"] = df["solar_mw"].astype("float")

In [38]:
freq = df["wind-direction"].mode()[0]
df["wind-direction"].replace("am", freq, inplace=True)
df["wind-direction"] = df["wind-direction"].astype("float")
df["wind-direction"].fillna(df["wind-direction"].mean(), inplace= True)
df["average-wind-speed-(period)"].fillna(df["average-wind-speed-(period)"].mean(), inplace= True)

C:\Users\ducth\AppData\Local\Temp\ipykernel_10544\1935674977.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["wind-direction"].replace("am", freq, inplace=True)
C:\Users\ducth\AppData\Local\Temp\ipykernel_10544\1935674977.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["wind-direction"].fillna(df["wind-direction"].mean(), inplace= True)
C:\Users\ducth\AppData\Local\Temp\ipykernel_10544\1935674977.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["average-wind-speed-(period)"].fillna(df["average-wind-speed-(period)"].mean(), inplace= True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 2919 to 0
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Datetime                     2920 non-null   datetime64[ns]
 1   solar_mw                     2920 non-null   float64
 2   wind-direction               2920 non-null   float64
 3   wind-speed                   2920 non-null   float64
 4   humidity                     2920 non-null   float64
 5   average-wind-speed-(period)  2920 non-null   float64
 6   average-pressure-(period)    2920 non-null   float64
 7   temperature                  2920 non-null   float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 182.6 KB

In [40]:
df.set_index("Datetime", inplace= True)

In [41]:
df

,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
Datetime,,,,,,,
2020-04-03 09:00:00,11363.0,23.936112,13.9,81.0,11.0,29.90,63.0
2020-04-03 10:00:00,11254.0,23.936112,13.9,81.0,17.0,29.87,63.0
2020-04-03 11:00:00,11048.0,23.936112,13.9,68.0,21.0,29.88,63.0
2020-04-03 12:00:00,10763.0,23.936112,13.9,66.0,15.0,29.91,63.0
2020-04-03 13:00:00,10396.0,23.936112,13.9,75.0,10.0,29.93,63.0
...,...,...,...,...,...,...,...
2020-08-02 20:00:00,14038.0,27.000000,7.5,21.0,3.0,29.89,69.0
2020-08-02 21:00:00,13832.0,27.000000,7.5,33.0,0.0,29.91,69.0
2020-08-02 22:00:00,13312.0,27.000000,7.5,70.0,0.0,29.89,69.0
2020-08-02 23:00:00,12390.0,27.000000,7.5,77.0,5.0,29.85,69.0
2020-08-03 00:00:00,11385.0,27.000000,7.5,75.0,8.0,29.82,69.0

In [42]:
# df.to_csv("D:/Research/data/solar_clean.csv", index= True)

In [43]:
df1 = pd.read_csv("D:/Research/data/solar_clean.csv")

In [44]:
df1

,Datetime,solar_mw,wind-direction,wind-speed,humidity,average-wind-speed-(period),average-pressure-(period),temperature
0,2020-04-03 09:00:00,11363.0,23.936112,13.9,81.0,11.0,29.90,63.0
1,2020-04-03 10:00:00,11254.0,23.936112,13.9,81.0,17.0,29.87,63.0
2,2020-04-03 11:00:00,11048.0,23.936112,13.9,68.0,21.0,29.88,63.0
3,2020-04-03 12:00:00,10763.0,23.936112,13.9,66.0,15.0,29.91,63.0
4,2020-04-03 13:00:00,10396.0,23.936112,13.9,75.0,10.0,29.93,63.0
...,...,...,...,...,...,...,...,...
2915,2020-08-02 20:00:00,14038.0,27.000000,7.5,21.0,3.0,29.89,69.0
2916,2020-08-02 21:00:00,13832.0,27.000000,7.5,33.0,0.0,29.91,69.0
2917,2020-08-02 22:00:00,13312.0,27.000000,7.5,70.0,0.0,29.89,69.0
2918,2020-08-02 23:00:00,12390.0,27.000000,7.5,77.0,5.0,29.85,69.0
2919,2020-08-03 00:00:00,11385.0,27.000000,7.5,75.0,8.0,29.82,69.0

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Datetime                     2920 non-null   object
 1   solar_mw                     2920 non-null   float64
 2   wind-direction               2920 non-null   float64
 3   wind-speed                   2920 non-null   float64
 4   humidity                     2920 non-null   float64
 5   average-wind-speed-(period)  2920 non-null   float64
 6   average-pressure-(period)    2920 non-null   float64
 7   temperature                  2920 non-null   float64
dtypes: float64(7), object(1)
memory usage: 182.6+ KB

In [47]:
df1["Datetime"] = pd.to_datetime(df1["Datetime"])

In [57]:
df1['Datetime'].dt.second

0       0
1       0
2       0
3       0
4       0
       ..
2915    0
2916    0
2917    0
2918    0
2919    0
Name: Datetime, Length: 2920, dtype: int32

In [ ]:
X = []
y = []

for i in range(30, len(df["datetime"])):
    X.append(df[i - 30: 0])
    y.append(target[i])